.bets {
  margin-top: 7em;
  @extend ._openSans;
  &__item {
    width: 25em;
    display: inline-block;
    margin: 1em;
    will-change: transform;
    transition: transform $transition-time;
    text-decoration: none;
    color: #fff;
    opacity: 0;

    &:hover {
      transform: scale3d(1.08, 1.08, 1);
    }

    &:nth-last-child(1) {
      margin-right: 0;
    }

    &-bonus {
      height: 30px;
      &::before {
        content: 'BONUS BET';
        @extend ._openSans;
        font-size: 2.4em;
        font-weight: 300;
      }
    }

    &-price {
      padding: 0.5em 0 0.35em;
      font-weight: bold;
      @extend ._openSans;
    }

    &-info {
      padding: 2em 3em 2em;
      will-change: background-color;
      transition: background-color $transition-time;
    }
    &-logo {
      img {
        width: 100%;
      }
    }

    &-ladbrokes &-info {
      background-color: rgba($color-red, 0.5);
    }
    &-ladbrokes:hover &-info {
      background-color: rgba($color-red, 1);
    }

    &-sportsbet &-info {
      background-color: rgba($color-blue, 0.5);
    }
    &-sportsbet:hover &-info {
      background-color: rgba($color-blue, 1);
    }

    &-unibet &-info {
      background-color: rgba($color-green, 0.5);
    }
    &-unibet:hover &-info {
      background-color: rgba($color-green, 1);
    }

    &-williamhill &-info {
      background-color: rgba($color-blue-dark, 0.5);
    }
    &-williamhill:hover &-info {
      background-color: rgba($color-blue-dark, 1);
    }

    [data-pageloaded='true'] & {
      opacity: 1;
      &-ladbrokes {
        animation: bets-showIn $transition-time*2;
      }
      &-sportsbet {
        animation: bets-showIn $transition-time*2.5;
      }
      &-unibet {
        animation: bets-showIn $transition-time*3;
      }
      &-williamhill {
        animation: bets-showIn $transition-time*3.5;
      }
    }
  }
}

@keyframes bets-showIn {
  from {
    opacity: 0;
    transform: scale3d(0.5, 0.5, 1);
  }
  to {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@media (max-width: $width-1280) {
  .bets {
    margin-top: 5em;
  }
}
