.content {
  &__info {
    @extend ._center;
    padding: 10em 0;
    color: white;
    position: relative;
    margin-bottom: 2em;

    &::before {
      content: ' ';
      background-image: url("../images/bg_betcirca-2_opt.jpg");
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0.4;
    }
    & > * {
      z-index: 2;
      position: relative;
    }
    &-title {
      font-weight: bold;
    }

    &-text {
      margin-top: 2.3em;
      font-weight: 300;
      line-height: 120%;
      padding: 0 3em;
    }

    & > section {
      margin: 0 auto;
      max-width: 125em;
    }
  }

  &__viewmore {
    font-weight: 300;
    font-size: 1.6em;
    position: relative;
    top: 3.5em;

    &::before {
      content: ' ';
      background-image: url("../images/mouse_ic.png");
      width: 35px;
      height: 53px;
      background-repeat: no-repeat;
      display: inline-block;
      vertical-align: middle;
      margin-right: 1em;
      position: relative;
      top: -0.5em;
    }
  }
}

@media (max-width: $width-1280) {
  .content {
    font-size: 0.8em;
    &__info {
      padding: 6em 0;
      &-text {
        margin-top: 1.8em;
      }
    }
  }
}
