._clear {
  clear: both;
}

._center {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, h7 {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 9em;
}

h2 {
  font-size: 7em;
}

h3 {
  font-size: 5em
}

h4 {
  font-size: 4em
}

h5 {
  font-size: 3em;
}

h6 {
  font-size: 2em;
}

._green-light {
  color: $color-green-light;
}

._bold {
  font-weight: bold;
}
