header {
  background: $color-gray;
  font-size: 0.8em;
  padding: 2em 0;
  box-sizing: border-box;
}

.logo {
  background-image: url('../images/logo.png');
  width: 34.8em;
  height: 10em;
  display: block;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: $width-1280) {
  header{
    font-size: 0.6em;
  };

}
