//colors
$color-gray: #363637;
$color-gray-light: #ababab;
$color-green: #2b751d;
$color-green-light: #9cd035;
$color-red: #d01114;
$color-blue: #0c4afe;
$color-blue-dark: #2e2088;

// window sizes
$width-1500: 1500px;
$width-1280: 1280px;
$width-800: 800px;

$transition-time: 0.35s;
