$logo-w: #{348*0.8}px;
$logo-h: #{100*0.8}px;
$header-h: 120px;
$transition-speed: 0.35s;
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300);

._openSans {
  font-family: 'Open Sans', sans-serif;
}

.utp {
  &-logo {
    height: $header-h;
    position: relative;
    box-sizing: border-box;
    &::before {
      content: ' ';
      background: url('//dl.dropboxusercontent.com/s/4ipzdnyi0k4be9p/logo-2.png') center no-repeat;
      width: $logo-w;
      height: $logo-h;
      position: absolute;
      top: calc(50% - #{$logo-h/2});
      left: calc(50% - #{$logo-w/2});
      background-size: contain;
    }

    & > * {
      display: none;
    }
  }

  &-samplepic {
    display: none;
  }

  &-tagline::before {
    content: 'SPORT HEADS!';
    font-size: 70px;
    padding: 80px 0 20px;
    @extend ._openSans;
    font-weight: bold;
  }

  &-intro {
    &::before {
      font-size: 30px;
      max-width: 700px;
      margin: 0 auto;
      /*content: 'Let us use your Origin image below to be featured on our website and choose your bonus offer!';*/
      content: 'APPROVE YOUR IMAGE VIA THE SOCIAL ICONS BELOW TO BE FEATURED ON OUR ORIGIN GALLERY';
      @extend ._openSans;

    }
    &::after {
      content: '';
    }
  }
  &-terms {
    border-color: #73cb10;
  }
}

._usethispic {
  @extend ._openSans;
  color: #fff;
  h4 {
    display: none;
  }
  &--agreement--1 {
    background-color: #272727 !important;
  }
}

body.usethispic {
  background-color: #333;
  &::after {
    content: ' ';
    background-image: url('//dl.dropbox.com/s/kkply3ictwfbkwz/bg_betcirca-2_opt.jpg');
    width: 100%;
    height: calc(100% - #{$header-h});
    position: absolute;
    background-position: center;
    background-size: cover;
    top: $header-h;
    left: 0;
    z-index: 1;
    opacity: 0.6;
  }
  & > * {
    z-index: 2;
  }

  section {
    &._usethispic {
      ._social {
        &--twitter,
        &--instagram {
          background-color: rgba(#ffffff, 0.1);
          margin: 0;
          border-radius: 0;
          text-align: center;
          will-change: background-color;
          transition: background-color $transition-speed;
          width: 300px;
          box-sizing: border-box;
          position: relative;
          white-space: nowrap;
          overflow: hidden;

          &::after {
            display: inline-block;
            vertical-align: middle;
            font-size: 16px;
            box-sizing: border-box;
            line-height: 20px;
            padding: 0 0 0 20px;
            white-space: nowrap;
            position: absolute;
            top: calc(50% - 10px);
            will-change: transform;
            transition: transform $transition-speed, color 0.35s;
            color: transparent;

          }

          &:hover {
            background-color: #fff;
            & > ._icon {
              fill: #444;
            }
            &::after {
              transform: translate3d(-50%, 0, 0);
              visibility: visible;
              color: #444;
            }
          }

          & > ._icon {
            display: inline-block;
            float: none;
            will-change: fill, transform;
            transition: fill $transition-speed, transform $transition-speed;
            vertical-align: middle !important;
          }
          span._ {
            display: none;
          }

        }

        &--twitter {
          border-right: none;
          &::after {
            content: 'Login with Twitter';
            width: 150px;
          }
          &:hover {
            & > ._icon {
              transform: translate3d(-75px, 0, 0);
            }
          }
        }
        &--instagram {
          &::after {
            content: 'Login with Instagram';
            width: 180px;
          }
          &:hover {
            & > ._icon {
              transform: translate3d(-90px, 0, 0);
            }
          }
        }
      }
    }
  }
  > footer._ {
    background-color: transparent;
    color: #fff;
    position: absolute;
    bottom: 0;
    width: 100%;

    section._ {
      h5._ {
        // powered by ShareRoot
        position: absolute;
        bottom: 1.5em;
        right: 20px;
        color: #fff;
        font-style: normal;
        font-size: 16px;
        margin: 0;
        //@extend ._openSans;
      }

      ._inc,
      ._legal,
      ._legal a {
        color: #fff;
        font-size: 16px;
        line-height: 120%;
      }

      ._legal {
        bottom: 2.8em;
      }

      ._inc {
        bottom: 1.5em;
      }
    }
  }
}

::-webkit-scrollbar-thumb {
  background-color: #73cb10;
}

b, h1, h2, h3, h4, h5, h6 {
  @extend ._openSans;
}

/**********************************************/
/******* Marc's additions *********************/
/**********************************************/

footer *, footer {
  position: relative !important;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

footer {
  margin-top: 100px !important;
}

footer ._inc, footer h5 {
  display: none;
}

._social--twitter {
  border: 1px solid white !important;
  margin-right: -1px !important;
}

@media only screen and (max-width:600px) {
  ._social--twitter {
    margin-right: 0px !important;
  }
}

._usethispic--agreement {
  outline: none !important;
}

