@import "fonts";
@import "params";
@import "ext";
@import "header";
@import "content";
@import "bets";

html, body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 120%;
  background-color: $color-gray;
}

._shareroot {
  will-change: opacity;
  transition: opacity $transition-time;
  opacity: 0;
  body[data-pageloaded='true'] & {
    opacity: 1;
  }
}

body:not([data-pageloaded='true']) {
  overflow: hidden;
  &::before {
    content: 'Loading...';
    color: #fff;
    font-size: 2.2em;
    width: 200px;
    line-height: 40px;
    @extend ._center;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 100px);
  }
}

/**********************************************/
/******* Marc's additions *********************/
/**********************************************/

.sr-modal-footer {
  display: none !important;
}
